<% if (success && success.length) { %>
    <div class="card card-flash success" role="alert">
        <div class="card-flash-body card-body">
            <span>
                <%= success %>
            </span>
            <button class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <% } %>

        <% if (error && error.length) { %>
            <div class="card card-flash error" role="alert">
                <div class="card-flash-body card-body">
                    <span>
                        <%= error %>
                    </span>
                    <button class="btn-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <% } %>