<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand not-underline" href="/">Quacker</a>
        <ul class="navbar-list">
            <li class="navbar-li"><a class="navbar-link" href="/posts">Posts</a></li>
            <li class="navbar-li"><a class="navbar-link" href="/posts/new">New</a></li>
        </ul>
    </div>
</nav>