<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand not-underline" href="/">Quacker</a>
        <div class="navbar-links">
            <ul class="navbar-list navbar-post-links">
                <li class="navbar-li"><a class="navbar-link" href="/posts">Posts</a></li>
                <li class="navbar-li" id="link-new-post"><a class="navbar-link" href="/posts/new">New</a></li>
            </ul>
            <ul class="navbar-list navbar-user-links">
                <% if (!currentUser || currentUser === undefined) { %>
                    <li class="navbar-li navbar-user-li"><a class="navbar-link btn btn-user-link btn-register"
                            href="/register">Register</a></li>
                    <li class="navbar-li navbar-user-li"><a class="navbar-link btn btn-user-link btn-log"
                            href="/login">Login</a>
                    </li>
                <% } else { %>
                    <li class="navbar-li navbar-user-li"><a class="navbar-link btn btn-user-link btn-log"
                            href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
