<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quacker</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <nav class="navbar home-navbar">
        <div class="navbar-container">
            <a class="navbar-brand not-underline" href="/">Quacker</a>
            <ul class="navbar-list navbar-user-links">
            <% if (!currentUser) { %>
                <li class="navbar-li navbar-user-li"><a class="navbar-link btn btn-user-link btn-register"
                        href="/register">Register</a></li>
                <li class="navbar-li navbar-user-li"><a class="navbar-link btn btn-user-link btn-log"
                        href="/login">Login</a>
                </li>
            <% } else { %>
                <li class="navbar-li navbar-user-li"><a class="navbar-link btn btn-user-link btn-log"
                        href="/logout">Logout</a>
                </li>
            <% } %>
            </ul>
        </div>
        </div>
    </nav>
    <main>
        <div class="container-main">
            <h1>Welcome to Quacker</h1>
            <p>See what&#39;s quacking!</p>
            <a href="/posts" class="btn">Explore</a>
        </div>
    </main>
</body>

</html>