body {
    margin: 0px;
}

main {
    width: 80%;
    margin: auto;
}

.card {
    border: 1px solid black;
}

.card-author {
    opacity: 0.5;
}

label {
    display: block;
}

input:valid, textarea:valid {
    border-color: green;
}

input:invalid, textarea:invalid {
    border-color: red;
}