<%- layout('layouts/boilerplate') %>
    <div class="container">
        <div class="form-container">
            <a class="return" href="/posts">&#8592; Go Back</a>
            <h1>Login</h1>
            <form class="form needs-validation" action="/login" method="POST" novalidate>
                <div class="form-child">
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username" placeholder="Enter your username..." maxlength="50"
                        autocomplete="off" required autofocus>
                </div>
                <div class="form-child">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter your password..."
                        autocomplete="off" maxlength="50" required>
                </div>
                <button class="btn">Login</button>
            </form>
        </div>
    </div>