<%- layout('layouts/boilerplate') %>
    <div class="container">
        <div>
            <h1>Create a new post</h1>
            <form class="form" action="/posts" method="POST">
                <div class="form-child">
                    <label for="post-body">Body: </label>
                    <textarea name="post[body]" id="post-body" class="resource-body" cols="50" rows="5"
                        placeholder="Quack are you thinking about?" maxlength="63206" required></textarea>
                </div>
                <div class="form-child">
                    <label for="post-author">Author: </label>
                    <input type="text" name="post[author]" id="post-author" class="resource-author"
                        placeholder="Username" maxlength="50" required>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>
    </div>